@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-syne: "Syne", sans-serif;
  --font-bebas: "Bebas Neue", sans-serif;
  --font-mono: "Syne Mono", monospace;
}

@layer utilities {
  .animate-ticker {
    animation: ticker 25s linear infinite;
  }
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.33%);
  }
}

html {
  cursor: crosshair;
}

::selection {
  background: #e8ff47;
  color: #000;
}
